* {
    font-family: "inter";
}
#body-1 {
    background-image: url("imgs/background.webp");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 41%;
}
#nav {
    color: black;
}
#nav:hover {
    color: rgb(104, 104, 104) !important;
}

#div1 {
    top: 60px;
}
.icon-link:hover {
    color: rgb(131, 131, 131) !important;
}
#contact-details2 {
    margin-left: 10px !important;
}
#carouselExampleIndicators {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel-inner {
    height: 500px; /* Ensure fixed height */
}

.carousel-item {
    height: 100%; /* Force full height */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    height: 50px;
    width: 50px;
}
.carousel-indicators button {
    background-color: rgb(133, 133, 133) !important;
    width: 20px !important;
    height: 20px !important;
}
.carousel-indicators .active {
    background-color: #000000 !important;
}
#body-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity for darkness */
    z-index: 1;
}
#carouselExampleIndicators {
    z-index: 2;
}
.carousel-text-box {
    position: absolute;
    bottom: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: #000000;
}
#after-send-modal-1 {
    display: none;
}
@media (max-width: 768px) {
    #imgwrap {
        width: 12%;
    }
    .navbar-brand {
        width: fit-content;
    }
    #div1 {
        right: 200px;
        position: absolute !important;
    }
    #carouselExampleIndicators {
        width: 80%;
    }
}
@media (min-width: 769px) {
    #nav {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    #imgwrap {
        width: 8%;
    }
    .navbar-brand {
        width: unset;
    }
    #div1 {
        right: 170px;
        position: absolute !important;
    }
    #carouselExampleIndicators {
        width: 70%;
    }
}

@media (min-width: 992px) {
    #imgwrap {
        width: 7%;
    }
    #div1 {
        right: 200px;
    }
    .carousel-inner {
        height: 80vh;
    }
    #carouselExampleIndicators {
        width: 60%;
    }
    .modal-dialog {
        min-width: 50% !important;
    }
}
@media (min-width: 1200px) {
    #nav {
        top: 4px;
    }
    .carousel-inner {
        height: 70vh;
    }
    #carouselExampleIndicators {
        width: 50%;
    }
    .modal-dialog {
        min-width: 50% !important;
    }
}
