* {
    font-family: "inter";
}

#nav-img {
    width: 7%;
}
body {
    position: relative;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#body-1 {
    z-index: 1;
    background-image: url("imgs/clinic.webp");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}
iframe {
    max-width: 100%;
    min-width: 80%;
    margin-top: 0px;
}

#container1 {
    margin-top: 50px;
}
#details {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 50%;
}
footer {
    background-color: rgb(26, 26, 26);
}
.nav-link:hover {
    color: black !important;
}
@media (max-width: 992px) {
    #nav-img {
        display: none;
    }
    #nav-collapse {
        font-size: 1.5rem;
        width: 30%;
        margin: 0 auto;
    }
    .navbar-brand {
        font-size: 2rem !important;
    }
    #body-1 {
        min-height: 123vh;
    }
    #details {
        min-width: fit-content !important;
        flex-direction: column;
        gap: 10px !important;
    }
    #img-wrap {
        width: 40%;
    }
}
@media (min-width: 993px) {
    .navbar-brand {
        font-size: 2rem !important;
        font-weight: bold;
    }
    #nav-collapse {
        font-size: 1.5rem;
    }
    body {
        min-height: 100vh;
    }
    #img-wrap {
        width: 25%;
    }
}
